name: action-ci

concurrency:
  group: ci-${{ github.ref }}-action
  cancel-in-progress: true

on:
  push:
    branches:
      - master
      - build/*
  pull_request:
    branches:
      - master

jobs:
  test-action:
    name: test action

    strategy:
      fail-fast: false
      matrix:
        os:
        - ubuntu-22.04
        - macos-latest

    runs-on: ${{ matrix.os }}

    steps:
    - name: Checkout repository
      uses: actions/checkout@v6

    - name: Install git-perf latest release
      run: |
        curl --proto '=https' --tlsv1.2 -LsSf "https://github.com/kaihowl/git-perf/releases/latest/download/git-perf-installer.sh" | sh
        echo "$HOME/.cargo/bin" >> $GITHUB_PATH

    - name: Check if git-perf available
      run: |
        which git-perf
        git perf --version
